.weather-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Trebuchet MS";
    font-weight: bold;
    font-style: normal;
    line-height: 1.8em;
    letter-spacing: .04em;
  color: white;
  height: 100%;
  width: 100%;
}
.weather-form {
  margin: auto;
  width: 50%;
  text-align: center;
}
.weather-form input[type="text"] {
  padding: 14px 20px;
  width: 100%;
  font-size: 20px;
  border-radius: 10px;
  outline: none;
}
#submitbtn {
  padding: 14px 20px;
  font-size: 20px;
  width: 30%;
}

.canvas {
  height: 100%;
  width: 0;
  display: flex;
  justify-content: center;
  position: absolute;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
}
.canvas a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}
.canvas a:hover {
  color: #f1f1f1;
}
.canvas .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .canvas {padding-top: 15px;}
  .canvas a {font-size: 18px;}
}

.results-summary {
  margin: auto;
  width: 50%;
  border: 5px solid white;
  border-radius: 25px;
  padding-bottom: 20px;
  text-align: center;
}
.temp-ctnr {
  display: inline-block;
  padding-top: 30px;
}
.summary-ctnr {
  display: inline-block;
}

#location-header {
  font-size: 30px;
  padding: 20px;
  text-align: center;
}
#summary {
  font-size: 12px;
}
#temp {
  font-size: 50px;
  color: yellow;
}
#appString {
  font-size: 12px;
  padding-top: 10px;
}
#appTemp {
  font-size: 30px;
  color: lightgrey;
}
#icon {
  width: 150px;
  height: auto;
}
