html {
  box-sizing: border-box;
  background-color: #100e17;
}

* {
  padding: 0;
  margin: 0;
}
/*default link color*/
a {
  color: #666666;
  text-decoration: none;
  transition: color 0.3s linear;
  -webkit-transition: color 0.3s linear;
  -moz-transition: color 0.3s linear;
}
a:hover {
  color: #000000;
}

/*Banner alignments*/

.banner {
  display: inline-block;
  background-color: #cccccc;
  width: 100%;
}

.bannerRight {
  float: right;
}

.bannerLeft {
  float: left;
}

/*Buttons*/

button.bannerRight {
  height: 80px;
  padding: 14px 40px;
  background-color: transparent;
  font-family: "Trebuchet MS";
    font-weight: bold;
    font-style: normal;
    line-height: 1.8em;
    font-size: 25px;
    letter-spacing: .04em;
  border: transparent;
  outline: none;
  cursor: pointer;
}
